body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*****************************************************************************************/
h2, p, a {
  font-family: 'IBM Plex Sans', sans-serif;
}


@media only screen and (min-width: 1020px) {
.cic-lansing-header {
  max-height: 400px;
  }
}

@media only screen and (max-width: 865px) {
  .cic-lansing-header {
    background-size: 0% !important;
  }
}

header {
  margin-bottom: 25px;
}

.cic-lansing-header {
  min-height: 250px;
  background-color: #f3f3f3;
  background-image: url('../images/Frank_1920.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.header-ibm-logo {
  width: 150px;
  margin-top: 30px;
}

.header-text {
  margin-bottom: 0 !important;
  color: #3B6CAA;
  line-height: 160%;
  font-weight: 500;
}

.header-tabs {
  margin-left: 20px;
}

.header-tabs a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.header-tabs button {
  border: none;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  /* cursor: pointer; */
  padding: 12px 14px;
  font-size: 16px;
}

@media only screen and (max-width: 815px) {
  .whitetab {
    display: none !important;
  }
}

.whitetab {
  background-color: #FFFFFF;
  border-bottom: 1px solid white;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
}

.bluetab {
  cursor: pointer;
  background-color: #3B6CAA;
  color: #ffffff;
}

.bluetab a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

h2 {
  color: #3B6CAA;
}

.my-video {
  width: 90%;
}

@media only screen and (max-width: 815px) {
  .my-video {
    width: 100% !important;
  }
}

hr.grey-bar {
  border: 1px solid #eff2f2;
  margin-bottom: 3rem;
}

.smaller-text {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 1rem;
}

.side-button {
  background-color: #3B6CAA;
  color: #ffffff;
  padding: 12px 14px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.side-button a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.footer img {
  width: 30px;
  margin-right: 20px;
}

.header-tabs .redtab {
  /* cursor: pointer; */
}

.redtab {
  background-color: red;
  color: #ffffff;
  cursor: pointer;
}
